[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
Wants=modprobe@uinput.service
After=local-fs.target modprobe@uinput.service
After=local-fs.target modprobe@uinput.service systemd-udev-settle.service

[Service]
Type=simple
WorkingDirectory=/home/mgs/kanata
ExecStart=/home/mgs/kanata/kanata --cfg /home/mgs/kanata/kanata.kbd
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
